package pages

import "github.com/Brandon689/appStructure/views/layout"
import "github.com/Brandon689/appStructure/views/components"

templ About() {
	@layout.Base() {
		<div>Q_Q</div>
		@components.Button("Next")
	}
}