package layout

templ Base() {
    <!DOCTYPE html>
    <html>
    <head>
        <title>My App Title</title>
    </head>
    <body>
        <nav>
            <a href="/">Home</a>
            <a href="/about">About</a>
        </nav>
        { children... }
    </body>
    </html>
}